.footer-msg{
  color:#777;
  font-weight: 300;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/*
#home img{
  filter:drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}
*/
a{
  text-decoration: none;
  color:#000; 
}

a{
  position: relative;
}

a:after{
  content: '';
  position: absolute;
  width: 0; 
  height: 1px;
  display: block;
  left: 0;
  margin-top: -2px;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}


a:hover:after{
  width: 100%;
}

strong{
  font-weight: 600;
  color:#000;
}

.img-border{
  border:1px solid #ddd;
}




.projects-bottom a{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: none;
}

.projects-bottom .content{
  padding-top:3rem;
  border-top: 1px solid #eaeaea;
}


.main-post-bg{
  background-color: #0A1541;
}

.main-post-bg h1, .main-post-bg p{
  color:#fff;
}
.summary-post-bg{
  background-color: #f2f2f2;
}

body{ 
  font-family: "Work Sans", sans-serif;
  line-height: 1.7;
  padding:0;
  margin:10rem 0 0 0;
  color:#333;
}

/*.post, #projects, .projects-bottom{
  padding:0 1.5rem;
}*/

.logo{
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.content{
  width: 84%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#occupancy .text-width .button{
  color:#2E7EB2;
}



#occupancy .text-width .text-link{
  color:#2E7EB2;
}

#occupancy .text-width a{
  color:#2E7EB2;
}

#herecruit .text-width .button{
  color:#1F70C7;
}

#herecruit h4{
  color:#1F70C7;
}

#gdot h4{
  color:#2B65AC;
}


#herecruit .text-width a{
  color:#1F70C7;
}

#herecruit .text-width .text-link{
  color:#1F70C7;
}

#cc .text-width .button{
  color:#3BA946;
}

#cc .text-width a{
  color:#3BA946;
}


#cc .text-width .text-link{
  color:#3BA946;
}

#cc #progressBar::-webkit-progress-value {
  background-color: #3BA946;
}

#cc #progressBar::-moz-progress-bar {
  background-color: #3BA946;
}

#acms .text-width .button{
  color:#c5645e;
}
#acms h4 {
  color:#c5645e;
}

#acms #progressBar::-webkit-progress-value {
  background-color: #c5645e;
}

#acms #progressBar::-moz-progress-bar {
  background-color: #c5645e;
}



#acms .text-width a{
  color:#c5645e;
}

#xdchallenge .text-width .button{
  color:#4758A1;
}

#xdchallenge .text-width a, #xdchallenge h2{
  color:#4758A1;
}

#xdchallenge #progressBar::-webkit-progress-value {
  background-color: #4758A1;
}

#xdchallenge #progressBar::-moz-progress-bar {
  background-color: #4758A1;
}
#me .text-width .button{
  color:#5D8D23;
}

#me .text-width a, #me .text-width a:after{
  color:#5D8D23;
}

.button{
  margin-bottom: 2rem;
  display: inline-block;
}

.button-main{
    border: 1px solid #757575;
    border-radius: 3px;
    padding: 0px 11px;
}

.button-main a{
  font-size: 0.875rem;

}

.button-main:hover{
    border: 1px solid #000;
}



h1{
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size:2.1875rem;
  margin-bottom:0px;
  line-height: 1.5;
  color:#000;
}

.post h2{
  margin-bottom:4rem;
  color:#000;
}

.post h1{
  margin-bottom:2.6rem;
  margin-top:12rem;
}

.post-image-home {
  display: block;
  width: 100%;
  height: auto;
}

.img-caption{
  font-size: 0.8rem;
  color:#757575;
  display: block;
  position:relative;
  width:100%;
  top:0;
  text-align: center;
}

#projects h2{
  border-top: 1px solid #333;
  color:#000;
}

h2{
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size:1.8rem;
  /*text-transform: uppercase;*/
  /*border:2px solid #000;*/
  background:#fff;
  display: inline-block;
  /*padding: 0.5rem 1rem;*/
  position: relative;
  /*margin-left: 8px;*/
  margin-bottom: 3rem;
}

#gdot h2:before, #gdot h2 {
  border-color: #2B65AC;

}

#gdot .head-style{
  color: #2B65AC;
}

#herecruit h2:before, #herecruit h2 {
  border-color: #1F70C7;

}

#herecruit .text-width a:after{
  background: #1F70C7;
}

#herecruit .head-style{
  color: #1F70C7;
}

#herecruit #progressBar::-webkit-progress-value {
  background-color: #1F70C7;
}

#herecruit #progressBar::-moz-progress-bar {
  background-color: #1F70C7;
}

#cc h2:before, #cc h2 {
  border-color: #3BA946;

}

#cc .head-style{
  color: #3BA946;
}

#cc .text-width a:after{
  background: #3BA946;
}




 #occupancy h2 {
  border-color: #2E7EB2;

}

#occupancy .text-width a:after{
  background: #2E7EB2;
}

#occupancy .head-style{
  color: #2E7EB2;
}

#occupancy #progressBar::-webkit-progress-value {
  background-color: #2E7EB2;
}

#occupancy #progressBar::-moz-progress-bar {
  background-color: #2E7EB2;
}

#me h2 {
  border-color: #5D8D23;
}

#me .text-width a:after{
  background: #5D8D23;
}

#me .head-style{
  color: #5D8D23;
}

#me #progressBar::-webkit-progress-value {
  background-color: #5D8D23;
}

#me #progressBar::-moz-progress-bar {
  background-color: #5D8D23;
}

#acms h2 {
  border-color: #c5645e;
}

#xdchallenge h2 {
  border-color:#4758A1;
}


#twr h2, #pc h2{
  border-color:#000;
}

#xdchallenge .text-width a:after{
  background: #4758A1;
}

#xhchallenge .head-style{
  color: #4758A1;
}

#acms .text-width a:after{
  background: #c5645e;
}

#acms .head-style{
  color: #c5645e;
}

/*h2,
h2:before {
  box-sizing: border-box;
}

h2:before {
  border: 2px solid;
  content: "";
  display: block;
  height: 116%;
  position: absolute;
  width: 102%;
  top: -10px;
  left: -10px;
  z-index: -1;
}*/




progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  /* Dimensions */
  width: 100%;
  height: 3px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #000;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #000;
}

progress::-moz-progress-bar {
  background-color: #000;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #000;
  width: 50%;
  display: block;
  height: inherit;
}


.iframe-wrap{
  max-width:100%  ;
  height: 472px;
  padding:0;
  overflow: hidden;
  border:1px solid #bbb;
  margin: 2rem 0;

}

.portfolio-iframe{
  
  width:1400px;
    border:none;
  height: 1000px;
/*  -ms-zoom: 0.75;
  -moz-transform: scale(0.7);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.7);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: 0 0;*/


}

.skills-head{
      text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 400;
    color: #757575;
}

.post h2{
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size:2rem;
  /*text-transform: uppercase;*/
  border-top: 1px solid #ddd;
  margin-top: 5.6rem;
}

h3{
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size:1rem;
  margin-top: 60px;

}
#story{
  font-size: 2.1875rem;
  font-weight: 300;
  margin-top:0;
  font-family: "Work Sans", sans-serif;
  display: inline-block;
  width:90%;
}


#story p{
  margin-top: 0;

}

.project-story{
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.project-company{
  font-size:0.875rem;
  text-transform: uppercase;
  margin:2rem 0 0.4rem 0;

}


.project-title{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin:0rem 0 0.4rem 0;
  font-size: 1.25rem;
}
.project-title a{
  /*color:#fff;*/
}

.project-subtitle{
  /*font-family: "Work Sans", sans-serif;*/
  color: #777;
  /*font-weight: 300;*/
  /*opacity: 0.7;*/
  /*letter-spacing: 0.5px;*/
  margin-top:0;

}

.link-left-margin{
  margin-left: 1.5rem;
}

.divider{
  height: 1px;
  background-color: #eee;
  
  display: inline-block;
}

.home-sections{
  margin:7rem 0; 
  width: 100%;
  height: 12px;
  border-bottom: 1px solid #ddd ;
}

.home-section-head{
  text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 400;
    color: #757575;
  background-color: #FFF;
  padding-right: 10px;
}

.side-note{
  color:#999;
  font-style: italic;
}

body img{
  max-width:100%;
}

.text-width{
  
}

.link-left-margin:nth-child(1){
  margin-left:0;
}

.col-3{
  display: inline-block;
  width: 31.13%;
  vertical-align: top;
  margin-bottom: 2rem;
}

.left-margin-3-col{
    margin-left: 2.6%;
}

.projects-bottom .col-3:nth-child(1) a{
  float:left;
}

.projects-bottom .col-3:nth-child(2) a{
  margin-left: auto; 
  margin-right: auto; 
  max-width: 6rem; 
  display: block;
}

.projects-bottom .col-3:nth-child(3) a, .projects-bottom .col-3:nth-child(3){
  float:right;
}


.projects-bottom{
  margin-top:3rem;
  padding-top: 2rem;
}

.post .content .summary-head{
  font-weight: 600;
  color:#000;

}

@media only screen
and (max-width: 559px){


  h1{
    font-weight: 600;
  }
 .menu-float-right{
  display: none;
 }

 .social-links-footer{
  display: none;
 }

 .projects-bottom .col-3{
  width: 31.5%
 }

 .hide-word, .menu_archive{
  display: none !important;
 }



}

@media only screen
and (min-width: 560px){
  .social-links-footer{
    display: inline-block;
  }
  #hamburger_nav{
    display: none;
  }

  .menu_contact{
    display: none !important;
  }
  


}

@media only screen
and (min-width: 700px){
    .image-thumb{
      display: inline-block;
      width: 60%;
      margin-right: 3%;
      vertical-align: top;
  }

  .post-info{
    display: inline-block;
    width: 29%;
    margin-top: 0rem;
  }



    .col-2
    {
      display: inline-block;
       width: 46.8%;
      vertical-align: top;
      margin-bottom: 4rem;
    }



    .left-margin-2-col
    {
      margin-left: 4%;
    }

    
 }

@media only screen
and (min-width: 1012px){
  
  .summary-block .summary-head {
    width:20%;
    display: inline-block;
    vertical-align: top;
    margin:0;
  }

  .summary-block .summary-block-content{
    display: inline-block;
    width:76%;
    margin:0 0 0 2.97%;
  }

  .text-width{
  max-width: 56%;
  margin-left: 20%;
  }

}


.side-menu{
    position: fixed;
    top: 52px;
    right: 43px;
}

.side-menu li{
  list-style-type: none;
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color:#999;
  font-weight: 400; 
}

.menu{
  display: block;
  /*position: fixed;*/
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  
  /*z-index: 1;*/
  
  -webkit-user-select: none;
  user-select: none;

}

.menu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: 2px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.menu span
{
  display: block;
  width: 26px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  
  z-index: 1;
  
  transform-origin: 1px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu span:first-child
{
  transform-origin: 0% 0%;
}

.menu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000;
}

.menu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-items
{
  position: absolute;
  width: 6rem;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  /*transform-origin: 0% 0%;*/
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
  /*transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
}


.menu input:checked ~ .menu-items
{
  opacity: 1;
}


.menu-items{
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}


.menu-items li{
  list-style: none;

}

.menu-items li a{
  transition: color 0.3s ease;
}




.menu-items ul{
  padding-left: 0;
}

ul{
  -webkit-padding-start: 1.1rem;
}

body {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.4;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.4;
    }
    to {
        opacity: 1;
    }
}

.footer{
  padding: 0.8rem 3rem 2rem;
  background-color: #f9f9f9;
  margin-top: 3rem;

}

.footer a{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: none;
}



.post-thumbnail{
  position:relative;
  margin-bottom: 8rem;
  /*background:linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%)*/
}


.post{
  margin-top: 6rem;
}

hr{
  border-top:none;
  border-bottom: none;
  margin: 2rem 0;
}

h4{
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color:#000;
  font-weight: 400;
  display: inline-block;
  margin-bottom:0.5rem;
}


h5{
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom:0.4rem;
  font-size: 0.9rem;
}

.post h3, #bio h3{
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size:1.25rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color:#000;
}

.introduction{
  /*background-color:#eee;*/
  margin: 12rem 0;

}

.content-w-bg{
  background-color:#f9f9f9;
  padding:1rem 0 3rem;
}

.summary-block{
  padding: 1.2rem 0;
  border-bottom: 1px solid #eaeaea;
}

.summary-block:nth-child(1){
  /*border-top: 1px solid #ddd;*/
}

.summary-block:last-child{
  border-bottom: none;
}
.summary-block .bold-text  {
  font-weight: 600;
}



.summary-block-content p, .summary-block-content ul {
  margin:0;
}

.project-peak{
  transition: .5s ease;
  /*opacity: 0;*/
  /*position: absolute;*/
  top: 27%;
  left: 40%;
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%)*/
  padding:0 1.8rem 0.8rem;

}

#projects{
  margin-bottom: 5rem;
}





.menu-subitems li{
  margin-bottom:0.5rem;
}

.post-image, .post-video{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
.post-image-2{
  margin-top: 2rem;
    margin-bottom: 3rem;
}

.post video{
  border:1px solid #ddd;
}

.menu-horizontal{
  padding-left: 0;
}

.menu-horizontal p{
  display: inline-block;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  margin-bottom: 1.45rem;
 
}
.menu-horizontal p a{
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  color: #757575;
 
}

.menu-horizontal p a:hover{
  color: #000;
 
}


.menu-horizontal .active a{
  color:#000;
}


/*
#other_projects a:after, .footer a:after{
  width: 100%;
}*/

.menu-horizontal p a:after{
   content: '';
  position: absolute;
  width: 0; 
  height: 1px;
  display: block;
  left: 0;
  margin-top: 15px;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.menu-horizontal p a:hover:after{
  width:100%;

}

.footer a{
  text-transform: uppercase;
  font-size: 0.85rem;
  color:#757575;
}

.footer a:hover{
  color:#000;
}

.footer a:after{
  height: 0;
}

.menu-horizontal .active a:after{
   content: '';
  position: absolute;
  width: 100%; 
  height: 1px;
  display: block;
  left: 0;
  margin-top: 16px;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

header {
    height: 58px;
    position: fixed;
    background-color: #fff;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
    z-index: 1;
    padding-top: 0.5rem;
    /*border-bottom: 1px solid #eaeaea;*/
}

.nav-up {
    top: -76px;
}


.menu-float-left{
  float:left;
}

.menu-float-left p{
  margin-right: 2rem;
}


.menu-float-right{
  float:right;
}

.menu-float-right p{
  margin-left: 2rem;
}

.menu-float-right p a:after{
  height: 0;
}






.thin_line{
  border-top:1px solid #ddd;
  position: relative;
  margin-bottom: 4rem;
}


.thick_line{
  border-top:3px solid #000;
  display: inline-block;
  width:26%;
  position: absolute;
  margin-left: 37%;
  top:-2px;
}

#about .introduction p{
  font-size: 1rem;
}

#about .text-width a{ 
 color:#24844B;
}

#about .text-width a:after{
   background: #24844B;
}

#about h4{
   font-weight: 600;
}


/* Styles for overlay on hover on image*/


/*.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;

}

.overlay:hover{
  cursor: pointer;
}

.overlay:hover .overlay-text a:after{
  width:100%;
}

.acms-overlay{
  background-color: rgba(255, 255, 255, 0.85);
}



.misc-overlay{
  background-color: #fff;
}

.xd-overlay{
  background-color: #fff;
}


.herecruit-overlay{
  background-color: #fff;
}

.occupancy-overlay{
  background-color: #fff;
}

.cc-overlay{
  background-color:#fff;
}

.gdot-overlay{
  background-color: #fff;
}

.me-overlay{
  background-color: #fff;
}

.pc-overlay{
  background-color: #fff;
}

.twr-overlay{
  background-color: #fff;
  opacity: 90%;
}


.image-thumb:hover  .overlay {
  opacity: 1;
}


.overlay-text a{
  color:#000;
}



.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-text a:after{
  background: #000;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}*/

table{
  width: 100%;
  margin-top:3rem;
}

table td {
  border-bottom:1px solid #ddd;
}

table th, table tr:nth-child(1) {
  padding-bottom: 1.5rem;
  border-bottom:1px solid #999;
}

th{
  text-align:left;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85rem;
}

table th:nth-child(5){
  text-align: right;
}
table td{
  padding:1.3rem 0;
}

table td:nth-child(1){
  width:32%;
}

table td:nth-child(2){
  width:19%;
}

table td:nth-child(3){
  width:22%;
}

table td:nth-child(4){
  width:11%;
}

table td:nth-child(5){
  width:7%;
  text-align: right;  
}

.other_industry_projects a{
  text-decoration: underline !important;
}
/* Animations*/

.delay-one{
  animation-delay: 0.4s;
}

.delay-two{
  animation-delay: 0.75s;
}

.proj-summary{
  margin-bottom:2rem;
}

.previous-proj-button{
  position:fixed;
  width:36px;
  height:60px;
  bottom:240px;
  left:60px;
  /*background-color:#0C9;*/
  /*color:#FFF;*/
  /*border-radius:50px;*/
  /*text-align:center;*/
  /*box-shadow: 2px 2px 3px #999;*/
  background:url(images/arrow_left.png) no-repeat;
}
.next-proj-button{
  position:fixed;
  bottom:240px;
  right:60px;
  width:36px;
  height:60px;
  background:url(images/arrow_right.png) no-repeat;
}

.previous-proj-button:hover{
  background:url(images/arrow_left_hover.png) no-repeat;
}
.next-proj-button:hover{
  background:url(images/arrow_right_hover.png) no-repeat;
}
}

